include LICENSE
include README.md
include pyproject.toml
recursive-include solomon_llm_shield *.py
recursive-exclude __pycache__ *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
